body {
  display: flex;
  align-items: stretch;
  background-color: #929599;

  #menu {
    position: relative;
    min-width: 300px;
    min-height: 100vh;
    text-align: center;
    border-right: 3px solid black;
    padding-top: 20px;

    .el_menu {
      display: block;
    }
  }

  #tresc {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
  }
}
