body{
    .C{
        
        .A{
            position: relative;
            top:0;
            .B{
                position: relative;
                top:0;

                .A{
                    position: relative;
                    top:0;
                }
            }
        }
    }
}