body {
  margin: 0;
  #center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    #gameId {
      display: none;
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 10px;
      color: grey;
    }

    #currentGame {
      display:none;
      border: 1px solid black;
    }

    #new {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid black;
      border-radius:10px;

      input{
        border-radius:10px;
        cursor:pointer;
      }

      #newGame {
        margin: 10px;
      }
      #actualGames {
        margin: 5px 10px 5px 10px;
      }
    }

    #yourGames {
      display: none;
      height: 200px;
      position: fixed;
      overflow-y: scroll;
      padding: 20px;
      border:1px solid black;
      cursor:pointer;

      .actualGame {
        border: 1px solid black;
        border-radius:10px;
        padding:10px;
      }
    }
  }
}
