body {
  margin: 0;

  #clearLocalStorage {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  #center {
    margin-top:100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;

    #gameId {
      display: none;
      position: absolute;
      top: 5px;
      left: 5px;
      font-size: 10px;
      color: grey;
    }

    #currentGame {
      display: none;
      min-height: 100px;
      width: auto;
      flex-direction: column;
      padding: 20px;
      align-items: center;
      justify-content: center;

      #colors {
        display:flex;
        border:3px solid white;

        .color {
          width: 50px;
          height: 50px;
        }
      }
  

      #inputsSolve {
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
        width: 100%;
        border:3px solid black;

        .square {
          display: flex;
          width: 50px;
          height: 50px;
          margin-left: 5px;
          margin-right: 5px;
          border: 1px solid black;
        }
      }

      #checkSolution {
        width: 100px;
        margin-bottom: 5px;
      }

      #score {
        display: flex;
        justify-content: center;
        align-items: center;
        #white {
          background-color: white;
          width: 50px;
          height: 50px;
          border: 3px solid black;
          color: black;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        #black {
          background-color: black;
          width: 50px;
          height: 50px;
          border: 3px solid white;
          color: white;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    #new {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid black;
      border-radius: 10px;

      input {
        border-radius: 10px;
        cursor: pointer;
      }

      #newGame {
        margin: 10px;
      }
      #actualGames {
        margin: 5px 10px 5px 10px;
      }
    }

    #yourGames {
      position:absolute;
      top:100px;
      display: none;
      height: 50%;
      position: fixed;
      overflow-y: scroll;
      padding: 20px;
      border: 1px solid black;
      cursor: pointer;
      width: 70%;
      margin-top:100px;

      .actualGamesElement {
        border: 1px solid black;
        border-radius: 10px;
        padding: 10px;
        height: auto;
        text-align: center;
        width:auto;
      }
    }
  }

  @media (max-width: 600px) {
    #center {
      margin-top:0;
      #currentGame {
        #colors{
          flex-direction:column;
        }
        #inputsSolve {
          flex-direction: column;
        }
      }
    }
  }
}
