body {
  background-color: rgb(255, 221, 30);
  margin: 0;
  width: 100vw;
  height: 100vh;

  #backbutton{
    text-align:center;
    background-color: rgb(116, 218, 98);
    cursor:pointer;
    color:white;
    display:none;
    justify-content: center;
  }
  #classname {
    background-color: rgb(121, 112, 114);
    color: white;
    display: none;
    width:100%;
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #selected {
    width: 100%;
    display: none;
    flex: 1;

    #podium {
      display: flex;
      width: 25%;
      height: auto;
      flex-direction: column;
      color: white;
      overflow: auto;

      .item {
        background-color: black;
        margin-bottom: 5px;
        min-height: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding:5px;
      }
    }

    #information {
      width: 75%;
      height: auto;

      #horsename {
        width: 100%;
        color: white;
        height:30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(190, 95, 95);
      }

      #notes {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .row {
          width: 100%;
          height:10%;
          display: flex;
          justify-content: center;

          .judge {
            width: 20%;
            background-color: white;
            display:flex;
            justify-content: center;
            align-items: center;
          }

          .note {
            background-color: white;
            height:100%;
            width:15%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1%;
            cursor: pointer;
          }

          #arbitrator {
            display: flex;
            cursor: pointer;

            #name {
              height: 50px;
              background-color: rgb(246, 80, 80);
              width: 240px;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            #result {
              width: 50px;
              height: 50px;
              background-color: rgb(172, 161, 161);
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
  }
  #classes {
    display: flex;
    width: 100%;
    height: 100%;
    #actualclasses {
      width: 50%;
      height: 100%;
      border-right: 1px solid white;
      display: flex;
      flex-direction: column;
      .title {
        height: 50px;
        color: white;
        background-color: rgb(14, 13, 13);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #actual {
        width: 100%;
        flex: 1;
        overflow: auto;

        .element {
          margin: 5px;
          background-color: rgb(121, 112, 114);
          height: 30px;
          display: flex;
          padding: 20px;
          padding-left: 20px;
          justify-content: flex-start;
          align-items: center;
          color: white;
          cursor: pointer;
        }
      }
    }
    #finishclasses {
      width: 50%;
      height: 100%;
      border-left: 1px solid white;
      display: flex;
      flex-direction: column;
      .title {
        height: 50px;
        color: white;
        background-color: rgb(14, 13, 13);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #end {
        width: 100%;
        flex: 1;
        overflow: auto;

        .element {
          margin: 5px;
          background-color: rgb(121, 112, 114);
          height: 30px;
          display: flex;
          padding: 20px;
          padding-left: 20px;
          justify-content: flex-start;
          align-items: center;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 400px) {
    #selected {
      flex-direction: column;    
      width:100%;
  
      #podium{
        width:100%;
      }
      #information{
        width:100%;

        #notes{
        .row{
          height:20%;
        }
      }
  
        #horsename{
          width:100%;
        }
      }
    }
  
  
  }
}


