body {
  background-color: pink;
  margin: 0;

  #authorization {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: flex-end;

    #log-out{
      display:none;
    }
  }

  #chat-ui {
    position: absolute;
    top: 30px;
    display: flex;
    background-color: white;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    bottom: 0;
    padding: 20px;

    #all-chats {
      background-color: yellow;
      display: flex;
      flex-direction: column;

      #your-chats{
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
      }
    }

    #actual-chat {
      background-color: green;
      width: 100%;
      display: flex;
      flex-direction: column;

      #actual-chat-messages {
        height: 80%;
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
      }

      #send-message {
        height: 10%;
      }
    }
  }
}
