body {
  margin: 0;
  background-color: rgb(225, 156, 156);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  #logged {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  #center {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;

    #logPanel {
      background-color: white;
      padding: 40px;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      input {
        padding: 10px;
      }

      .auth {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: white;
        margin: 10px;
        background-color: rgb(194, 194, 247);
        cursor: pointer;
        width: 100%;
        text-align: center;

        &:hover {
          transition-duration: 2s;
          background-color: rgb(235, 235, 194);
        }
      }

      #logOut {
        display: none;
      }
    }

    #chatroom {
      position: absolute;
      display: none;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: auto;
      background-color: white;
      width: auto;
      bottom:10%;
      height:auto;
      top:10%;
      right:10%;
      left:10%;

      #window{
        display:flex;

        #actual-chats{
          background-color:blue;
          top:10%;
          bottom:10%;
          height:auto;
          left:10%;
          right:60%;
          position: fixed;
          overflow-y: scroll;
        }

        #messages{
          top:10%;
          right:10%;
          bottom:10%;
          left:40%;
          position: fixed;
          overflow-y: scroll;
          padding:20px;
        }

      }

      #send {
        position: fixed;
        bottom:1%;

      }
    }
  }
}
